<button type="submit" click="login()" *ngIf="Signin">SignIn</button>
<button type="submit" click="logout()" *ngIf="!Signout">SignOut</button>

<div *ngIf="status" *ngIf="loggedIn"></div>
<form (ngSubmit)="logIn()">
<table>
  <tr>
    <td>
        <label>Email </label>
    </td>
    <td>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" required>
    </td>
  </tr>
  <tr>
    <td>
        <label>Password </label>
    </td>
    <td>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
        <button type="submit" (click)="login()">
    </td>
  </tr>
</table>
</form>
<div *ngIf="loggedIn">
   <app-routing></app-routing>
</div>